/*@font-face{
  font-family: "cambria";
  src: url("/font/cambriab.ttf");
}*/

section {
    padding: 150px 0;
  }
.spt{
    padding-top: 0px;
}
.hea{
    width: 100%;
    margin-top: 0px;
    padding: 156px 0px 400px;
    background-image: url(/imagenes/black.png);
    background-origin: initial;
    background-repeat: no-repeat;
  }



#Def_Infor{
  background-image: url(/imagenes/A_Informatica_des.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backface-visibility: visible;
}

#Perfil_audi{
  background-image: url(/imagenes/Auditorinfo_des.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backface-visibility: visible;
}

#Proceso{
  background-image: url(/imagenes/Fases_des.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backface-visibility: visible;
}

#Evidencia{
  background-color: #012060;
}


.row{
    margin-right: 0px !important;
}

.thead-blue{
    color: #fff;
    background-color: #063782;
    border-color: darkgray;
  
}

#Auditoria{
  background-image: url(/imagenes/blue.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backface-visibility: visible;
  
}

#CtrlInt{
  background-color: #92d6fd;
}

#Diferencias{
  background-image: linear-gradient(to bottom, 
   rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), 
   url('https://www.xmple.com/wallpaper/white-gradient-blue-linear-2048x1536-c2-87cefa-ffffff-a-90-f-14.svg');
  
   background-blend-mode: soft-light;
   background-size: cover;
   background-position: center center;
}



@media (max-width: 768px) {
    .row{
        margin-left: 10px !important;
    }

    .cb{
      color:white;
    }
}

.footer-dark {
  padding-top: 50px;
  color: #f0f9ff;
  background-color: #063782;
}
.footer-dark img {
  width: 80%;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}